<app-navbar></app-navbar>
<!-- <div class="container">
    <img class="nanimal-image" src="https://cdn.discordapp.com/attachments/950203008623443968/1257529695772086342/2.png?ex=6684bd4b&is=66836bcb&hm=d329c70c06269383fae70ef7b48d10151a3d42eb1cad5461a4441f8d83b750e2&" alt="">
    <h2>Bienvenido a NANIMAl</h2>
</div> -->
<body>
    <div class="sidebar-left">
        <div class="image-container">
            <img src="https://i.pinimg.com/564x/a4/95/36/a495367d7882949431591716e626c474.jpg" alt="">
            <img class="margin" src="https://i.pinimg.com/564x/64/17/68/641768e4d5803c570bd22d1a816b5705.jpg" alt="">
        </div>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    <div class="sidebar-right">
        <div class="image-container">
            <img src="https://i.pinimg.com/564x/c5/d3/4b/c5d34b2720824347d54ac37f7c15bb8d.jpg" alt="">
            <img class="margin" src="https://i.pinimg.com/564x/c0/4e/88/c04e885ce8a0d4730d642b34db8478ea.jpg" alt="">
        </div>
    </div>
</body>


